.assignee-toggle-one{
    display: flex;
    margin-inline: 2vw;
    /* width:20vw; */
    border: 1px solid #024E35;
border-radius: 50px;
align-items: center;
justify-content: space-between;
}
.assignee-toggle-one a{
    text-decoration: none;
    color:#333333;
    padding:10px 27px 10px 27px; 
}
.assignee-toggle-one a.active{
    background-color: #024E35;
    color:white;
    border-radius: 50px;
    /* padding:10px 27px 10px 27px  */
}