.assignment__header {
  width: 100%;
  margin: 1rem 0 2rem;
}

.assignment_details_grp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.design__mentor {
  color: #616061;
  margin-top: 0.5rem;
}

.assignment_details {
  display: flex;
  margin: 1rem 0 1.5rem;
  align-items: center;
}

.assignment_details span {
  text-align: center;
  margin-right: 1.5rem;
  font-size: 15px;
  line-height: 28px;
}
.assigned_number {
  font-weight: 700;
  color: #000000;
  margin-bottom: 0.2rem;
}
.assigned_title {
  font-weight: 400;
  color: #616061;
}
.action_grp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action_grp .task_notif {
  display: flex;
  gap: 30px;
  align-items: center;
}
.assignment__button,
.assignment__button-1 {
  background: #00b87c;
  border: none;
  color: #ffffff;
}

.assignment__button {
  border-radius: 3px;
  padding: 16px 23px;
}
.assignment__button_1 {
  padding: 10px 18px;
  color: #ffffff;
  background: #00b87c;
  border-radius: 4px 4px 0px 0px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.noAssignment_btn {
  background-color: white;
  padding: 10px 18px;
  border-radius: 4px 4px 0px 0px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #b0afb0;
  font-size: 15px;
}

.assignment__p {
  margin-right: 1.5rem;
}
.assignment__svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: #ffffff;
  cursor: pointer;
  color: #b0afb0;
}

.task_notif {
  position: relative;
}
.assignment__lists {
  position: absolute;
  top: 90%;
  left: 5%;
  background: #ffffff;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
  padding: 1rem 1.5rem;
  list-style: none;
  z-index: 50;
  width: 160px;
}
.assignment__lists li {
  padding: 0.5rem 0;
  border-bottom: 0.1px solid #f2eeeed2;
}
.assignment__lists li a:link,
.assignment__lists li a:visited {
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  color: #2b2b2b;
  padding: 1rem 0;
}
